h1 {
    color:#0000FF;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

thead, tbody { display: block; }

tbody {
    height: 700px;
    overflow-y: auto; 
    overflow-x: hidden;
}

#userInfo {
    position: fixed;
    text-align: right;
    top: 15px; 
    right: 10px; 
}

#navigationPanel {
    position: fixed;
    text-align: left;
    top: 150px; 
    left: 50px; 
}

#findButton {
    margin-top:250px;
    display:block;
    text-align: center;
    font-size: 40pt;
}

#search {
    position: fixed;
    text-align: right;
    top: 130px; 
    right: 10px; 
}

#messenger-content {
    max-width: 1000px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#chat-content {
    max-width: 1000px;
    height: 80vh;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}