h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

#navigationPanel {
    position: fixed;
    text-align: left;
    top: 150px; 
    left: 50px; 
}