<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Переписка</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" />
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/chat.js"></script>
</head>

<body>
	<noscript>
		<h2 style="color: #ff0000">Похоже, Javascript не поддерживается вашим браузером!</h2>
	</noscript>
	<div align="right">
	    <label hidden id="login" th:utext="${currentUser.getLogin()}"></label>
		<label th:utext="${currentUser.getName()}"></label>
		<div><a th:href="@{/logout}">Выйти</a></div>
	</div>
	<div id="main-content" class="container">
	    <label hidden id="recipient" th:utext="${recipient.getLogin()}"></label>
		<h2 style="text-align:left">Переписка с <span th:text="${recipient.getName()}"></span></h2>
		<div class="row">
			<div class="col-md-6">
				<form class="form-inline">
					<div class="form-group">
						<input type="text" id="message" class="form-control">
					</div>
					<button id="send" class="btn btn-default" type="submit">Отправить</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table id="conversation" class="table table-striped">
					<thead>
						<tr>
							<th>Сообщения:</th>
						</tr>
					</thead>
					<tbody id="conversationBody"> </tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>