<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Добро пожаловать</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:insert="userInfo.html :: userInfo"></div>
	<h1 style="text-align:center"><span th:text="${userName}"></span>, добро пожаловать в сервис поиска игроков в
		настольный теннис!</h1>

	<div th:insert="navigationPanel.html :: navigationPanel"></div>
	<div id="findButton">
		<a th:href="@{/suggestions}">Найти игрока</a>
	</div>

</body>

</html>