<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход в сервис поиска игроков</title>
</head>
<body>
<div style="text-align:center">
    <h2>Добро пожаловать в сервис поиска игроков в настольный теннис!</h2>
    <h3>Пожалуйста, укажите логин и пароль:</h3>
    <form th:action="@{/login}" method="post">
        <table th:align="center">
            <tr>
                <td th:align="right"><label for="username">Логин</label>:</td>
                <td><input type="text"
                           id="username" name="username" autofocus="autofocus"/></td>
            </tr>
            <tr>
                <td th:align="right"><label
                        for="password">Пароль</label>:
                </td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input style="width:100%" type="submit" value="Войти"/></td>
            </tr>
            <tr>
                <td></td>
                <td><a th:href="@{/registration}">Регистрация</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>