<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Мои сообщения</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:insert="userInfo.html :: userInfo"></div>
	<div th:insert="navigationPanel.html :: navigationPanel"></div>
	<div id="messenger-content" style="text-align: center">
		<h1>Мои сообщения</h1>
		<div>
			<table width="100%" border="1">
				<tr align="left" width="100%" th:each="chat : ${chats}">
					<td width="100%">
						<div style="height: 40px; width: 1000px; overflow:hidden;">
							<a th:href="${chat.getLink().getLink()}" th:text="${chat.getText()}" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>