<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Список игроков</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:insert="userInfo.html :: userInfo"></div>
	<div th:insert="search.html :: search"></div>
	<div style="text-align: center">
		<h1>Список игроков в настольный теннис</h1>
		<a href="addSuggestion">Указать свой график</a> <br /> <br />
		<div th:insert="navigationPanel.html :: navigationPanel"></div>
		<div>
			<table border="1" th:align="center" width="1000px">
				<tr>
					<th>Имя</th>
					<th>Пол</th>
					<th>Уровень</th>
					<th>График</th>
					<th>Встреча</th>
				</tr>
				<tr align="left" th:each="suggestion : ${suggestions}">
					<td width="110px" th:utext="${suggestion.getPlayer().getName()}">...</td>
					<td width="110px" th:utext="${suggestion.getPlayer().getGender()}">...</td>
					<td width="110px" th:utext="${suggestion.getPlayer().getLevel()}">...</td>
					<td width="470px" th:utext="${suggestion.getSchedule()}">...</td>
					<td width="200px" align="center">
						<label th:utext="${suggestion.getDescription()}"></label>
						<div th:if="${suggestion.hasCreateOrEditSuggestionLink()}">
							<a th:href="${suggestion.getCreateOrEditSuggestionLink().getLink()}"
								th:text="${suggestion.getCreateOrEditSuggestionLink().getText()}" />
						</div>
						<div th:if="${suggestion.hasCancelSuggestionLink()}">
							<a th:href="${suggestion.getCancelSuggestionLink().getLink()}"
								th:text="${suggestion.getCancelSuggestionLink().getText()}" />
						</div>
						<div th:if="${suggestion.hasAcceptDeclineLinks()}">
							<a th:href="${suggestion.getAcceptDeclineLinks().getAcceptLink().getLink()}"
								th:text="${suggestion.getAcceptDeclineLinks().getAcceptLink().getText()}" />
							<a th:href="${suggestion.getAcceptDeclineLinks().getDeclineLink().getLink()}"
								th:text="${suggestion.getAcceptDeclineLinks().getDeclineLink().getText()}" />
						</div>
						<div th:if="${suggestion.hasChatLink()}">
							<a th:href="${suggestion.getChatLink().getLink()}"
								th:text="${suggestion.getChatLink().getText()}" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>